<div class="padding-15">
  <f8launcher (onCancel)="cancel()" (onComplete)="complete()" [gettingStartedInfo]="true">
    <div class="f8launcher-container_nav">
      <f8launcher-step-indicator #stepIndicator></f8launcher-step-indicator>
    </div>
    <div class="f8launcher-container_main">
      <f8launcher-targetenvironment-createapp-step #targetEnvStep [hidden]="false" id="TargetEnvironment" styleClass="target-environment"
        title="Select Target Environment">
      </f8launcher-targetenvironment-createapp-step>
      <f8launcher-missionruntime-createapp-step #missionRuntimeStep id="MissionRuntime" styleClass="mission-runtime"
        title="Select Mission & Runtime" [canChangeVersion]="false">
      </f8launcher-missionruntime-createapp-step>
      <f8launcher-gitprovider-createapp-step #gitProvider [hidden]="!(targetEnvStep.selection.dependencyCheck.targetEnvironment === 'os' && targetEnvStep.completed)"
        id="GitProvider" styleClass="git-provider" title="Authorize Git Provider">
      </f8launcher-gitprovider-createapp-step>
      <f8launcher-projectsummary-createapp-step id="ProjectSummary" styleClass="project-summary" title="Confirm Application Summary & Setup">
        <f8launcher-mission-runtime-createapp-review [stepId]="missionRuntimeStep.id"></f8launcher-mission-runtime-createapp-review>
        <f8launcher-target-environment-createapp-review stepId="shared"></f8launcher-target-environment-createapp-review>
        <f8launcher-gitprovider-createapp-review [stepId]="gitProvider.id" *ngIf="targetEnvStep.selection.dependencyCheck.targetEnvironment === 'os' && targetEnvStep.completed"></f8launcher-gitprovider-createapp-review>
      </f8launcher-projectsummary-createapp-step>
    </div>
  </f8launcher>
</div>
