<div class="padding-15">
  <f8launcher (onCancel)="cancel()" (onComplete)="complete()">
    <div class="f8launcher-container_nav">
      <f8launcher-step-indicator #stepIndicator></f8launcher-step-indicator>
    </div>
    <div class="f8launcher-container_main">
      <section class="f8launcher-container_main--spacer"></section>
      <f8launcher-gitprovider-createapp-step #gitProvider [import]="true" id="GitProvider" styleClass="git-provider"
        title="Authorize Git Provider">
      </f8launcher-gitprovider-createapp-step>
      <f8launcher-releasestrategy-createapp-step #releasestrategy id="ReleaseStrategy" styleClass="release-strategy"
        title="Select Pipeline">
      </f8launcher-releasestrategy-createapp-step>
      <f8launcher-projectsummary-createapp-step id="ProjectSummary" styleClass="project-summary" submitButtonText="Import Application"
        title="Confirm Application Summary & Setup">
        <f8launcher-release-strategy-createapp-review [stepId]="releasestrategy.id"></f8launcher-release-strategy-createapp-review>
        <f8launcher-target-environment-createapp-review stepId="shared"></f8launcher-target-environment-createapp-review>
        <f8launcher-gitprovider-createapp-review [stepId]="gitProvider.id"></f8launcher-gitprovider-createapp-review>
      </f8launcher-projectsummary-createapp-step>
    </div>
    <div class="f8launcher-container_close">
      <div class="sticky close">
        <span class="pficon pficon-close" aria-hidden="true" title="Leave Setup" (click)="cancel()"></span>
      </div>
    </div>
  </f8launcher>
</div>
